# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Build
build/
.gradle/
*.class
*.jar
*.war
*.ear
target/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
HELP.md

# Other
.env
.env.local

